{% extends "template.html" %}
{% block conteudo %}
        

                   
    <div style="display: flex; justify-content:flex-start; align-items: baseline;">

        <div id="semaineClass">
            <label for = "semaine">semaine</label>
            <input oninput="feuilleControler.semaineChange()" type="date" id="semaine" class="projetdate"  required />
        </div>

        <div><h2 id="showProjet"></h2></div>

        <!-- <div class = "right">
           
                    <label>usager connecté:</label>
                    <span id="usager">{{logged}}</span>
                    <a class="btn btn-primary" href="{{ url_for('logout') }}">Deconnexion</a>
                 
        </div> -->
    </div>
            <br>
            <br>
            <br>

    
    <body class="container">
        
        <!-- <h1 class="text-center">Feuille de Temps</h1> -->
    
       
        
        
        <form class="form" onsubmit="feuilleControler.ajoute(event)">
                <table>
                    <thead>
                        
                            <tr>
                                <th>No Projet</th>
                                <th>Date</th>
                                <th style="text-align:center" >Burr</th>
                                <th style="text-align:center" >Client</th>
                                <th class="heures">Nb Hrs</th>
                                <th class="heures">Hrs Sup</th>
                                <th class="heures">Tot Hrs</th>
                                <th>Km</th>
                                <th>Description</th>
                                <th>Comentaires intern</th>                                
                            </tr>
                        
                    </thead>

                    <tr class="projet">
                       
                        <td>
                            
                            <select oninput="feuilleControler.projetShow()"name="projets" id="nbProjet" class="projetdate" required>
                                <option value="Choisir" autofocus></option>
                            {% for item in projets %}                                    
                                    <option value="{{item.nb_projet}}" class="column">
                                        <column>{{item.nb_projet}}</column>
                                        <column >{{item.description}}</column>
                                        <column >{{item.client}}</column>
                                    </option>                                   
                               
                            {% endfor %}
                            </select>
                        </td> 
                        
                        
                    
                        <td>
                        <!-- <label for="data">Date</label> -->
                        <input type="date" id="date" class="projetdate" required />
                        </td>

                        <td class="projet">
                            <!-- <label for="quantidade">Quantidade</label> -->
                            <input type="radio" id="Burr" name = "burrClient"class="heures" />
                        </td>
                        
                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input id="Client" type="radio" name = "burrClient" class="heures" />
                        </td>

                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input oninput="feuilleControler.totHrsDinamic()" id="NbHrs" type="number" class="heures"  value="0"  required />
                        </td>

                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input oninput="feuilleControler.totHrsDinamic()" id="HrsSup" type="number" class="heures"  value="0" />
                        </td>

                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input id="TotHrs" type="number" class="heures"  value="0" />
                        </td>

                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input id="Km" type="number" class="heures"   value="0" />
                        </td>
                        
                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input id="Description" type="text" class="projet"  required />
                        </td>                       

                        <td class="projet">
                            <!-- <label for="valor">Valor</label> -->
                            <input id="ComentairesIntern" type="text" class="projet"/>
                        </td>                      



                    </tr> 
                </table>
            
            <button class="btn btn-primary" type="submit">ajouter</button>
        </form>


        <div id='feuilledeTempsView'></div>


        
        <!-- <div class="text-center">
            <button onclick = 'negociacaoController.importaNegociacoes()'class="btn btn-primary text-center" type="button">
                Importar Negociações
            </button>
            <button onclick = 'negociacaoController.apaga()'class="btn btn-primary text-center" type="button">
                Apagar
            </button>
        </div>  -->
        <br>
        <br>
<!--        <span>[ <a href="http://127.0.0.1:5000/novo " id="link_home">Novo</a> ]</span>-->
<!--        <span>[ <a href="http://127.0.0.1:5000/logout " id="link_home">logout</a> ]</span>-->
{% endblock %}